.dub
.history
docs.json
__dummy.html
*.o
*.obj
*.lib
*.exe
*.ps1
*.pdb
*.old
pixelperfecteditor/bin/
pixelperfectengine/lib/
test.*
bin/
bin-x86-windows/
bin-x86_64-windows/
bin-x86_64-linux/
bin-aarch64-linux/
dub.selections.json
_debug/